In [60]:

import pandas as pd
import numpy as np
import re

In [61]:
import requests
from io import StringIO

url = "https://api.data.abs.gov.au/data/ABS%2CABS_NOM_VISA_CY%2C1.0.0/1%2B2%2B3%2B4%2B5%2B6%2B7%2B8%2B9%2B10%2B11%2B12%2B13%2B14%2B15%2B16%2B17.1.AUS.A?detail=full"
headers = {"accept": "text/csv"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)
absdf= pd.read_csv(data)
absdf = absdf.loc[absdf['MEASURE'] == 16]
absdf = absdf[['TIME_PERIOD','OBS_VALUE']]
absdf.rename(index=str, columns={"TIME_PERIOD": "year"}, inplace=True)
absdf.rename(index=str, columns={"OBS_VALUE": "migration_no"}, inplace=True)
absdf.to_csv("./datasets/cleaned-migration-years.csv", index = False)

In [62]:
# https://www.data.qld.gov.au/dataset/register-of-immigrants-1864-to-1878
url = "https://www.data.qld.gov.au/dataset/32e5cda7-dee5-4cc2-a5f5-88b9a04da882/resource/0c976207-a184-4605-b171-a65a76a2ad2e/download/register-of-immigrants-1864-1878.csv"
# url = "./datasets/register-of-immigrants-1864-1878.csv"

qdf= pd.read_csv(url )

qdf['Description'].replace(to_replace="(.*from\s)(.*)", value=r"\2", regex=True, inplace=True)
qdf.rename(index=str, columns={"Description": "country"}, inplace=True)
qdf.dropna(subset=['country' ], inplace=True) 

qdf.rename(index=str, columns={"Date of arrival": "year"}, inplace=True)

qdf['year'].replace(to_replace=".*([0-9]{4}).*", value=r"\1", regex=True, inplace=True)
qdf['year'].nunique()

qdf = qdf.sort_values(by=['year'], ascending = False)
s = qdf.groupby(['country','year']).size()
qdf = s.to_frame(name = 'migration_no').reset_index()

In [63]:


# url = "https://data.gov.au/data/dataset/2fe5e2a9-8a3d-4dcf-baec-c5147d953150/resource/b59a15df-86ea-4c4c-95be-4dd9fc9f8ac4/download/2019-20-historical-migration-statistics-locked.xlsx"
url = "./datasets/2019-20-historical-migration-statistics-locked.xlsx"

# Table 1.1: Permanent and long-term arrivals, October 1945 to June 1959
df1= pd.read_excel(url, sheet_name="1.1", header=7 )
# Table 1.2: Settler arrivals, January 1959 to June 1975  
df2= pd.read_excel(url, sheet_name="1.2", header=7 )
#Table 1.3: Settler arrivals, 1975–76 to 1994–95  
df3= pd.read_excel(url, sheet_name="1.3", header=7 )
#Table 1.4: Settler arrivals, 1995–96
df4= pd.read_excel(url, sheet_name="1.4", header=7 )
# Table 2.1: Permanent additions, 1996–97 to 2007–08
df5= pd.read_excel(url, sheet_name="2.1", header=7 )
# Table 2.2: Permanent additions, 2008–09 to 2016–17
df6= pd.read_excel(url, sheet_name="2.1", header=7 )

#Table 3.2: The permanent migration program outcome by stream and citizenship, 1996–97 to 2016–17
df7= pd.read_excel(url, sheet_name="3.2", header=7 )


frames = [df1, df2, df3, df4, df5, df6, df7]

stores_df = pd.concat(frames)

In [64]:


stores_df = stores_df.iloc[: , :-1]
stores_df = stores_df.iloc[: , 1:]
stores_df = stores_df.melt(id_vars=["Year"], 
        var_name="country", 
        value_name="migration_no")
stores_df.rename(index=str, columns={"Year": "year"}, inplace=True)

stores_df.dtypes

year            object
country         object
migration_no    object
dtype: object

In [65]:
stores_df = pd.concat([qdf,stores_df], axis=0)

In [66]:
stores_df.dropna(subset=['migration_no', 'country' ], inplace=True) 

stores_df['year'].replace(to_replace=".*([0-9]{4}).*", value=r"\1", regex=True, inplace=True)

stores_df['migration_no'].replace(to_replace="\D*(\d*)", value=r"\1", regex=True, inplace=True)
stores_df[['year','migration_no']] = stores_df[['year','migration_no']].astype(int)
stores_df= stores_df[stores_df['migration_no'] != 0]

stores_df = stores_df[~stores_df.country.str.contains('|'.join(['Australia', 'Other', 'total', 'Total']))]

stores_df = stores_df.sort_values(by=['year', 'migration_no'], ascending = False)
stores_df = stores_df.drop_duplicates(subset=['year', 'country'])

In [67]:
remove = ['.1', '.2', '.3', '.4', '']
rexpress = '[' + re.escape (''. join (remove)) + ']'
stores_df['country'] = stores_df['country'].str.replace(rexpress, '', regex=True)

remove_words = [', Dem Peoples Rep Of', ', People\'s Republic of', 'and Ireland', '\x28excludes SARs and Taiwan\x29', '\x28SAR of China\x29']
rexpress = r'\b(?:{})\b'.format( '|'.join(remove_words))
stores_df['country'] = stores_df['country'].str.replace(rexpress, '', regex=True)

stores_df['country'].replace(["U.S.S.R."], "Russia",  inplace=True)
# stores_df[stores_df['country'].str.contains("SAR of China")]

stores_df = stores_df.sort_values(by=['year', 'migration_no'], ascending = True)
stores_df = stores_df.drop_duplicates(subset=['year', 'country'])
stores_df

                                                 country  year  migration_no
15     http://wwwarchivessearchqldgovau/Search/ItemDe...    43             1
0                                                Ireland  1864           121
1                                                Ireland  1865            82
2                                                Ireland  1866            49
3                                                Ireland  1867            25
...                                                  ...   ...           ...
47693                                           Colombia  2016           438
26867                                 Russian Federation  2016           461
46981                                             Brazil  2016           574
2659                                              France  2016           672
8889                                            Pakistan  2016          1221

[9352 rows x 3 columns]

In [68]:


import pycountry
list_countries = stores_df['country'].unique().tolist()
d_country_code = {} 
for country in list_countries:
    try:
        country_data = pycountry.countries.search_fuzzy(country)
        country_code = country_data[0].alpha_3
        d_country_code.update({country: country_code})
    except:
        print('\n could not add ISO 3 code for:', country)
        d_country_code.update({country: np.nan})
print(d_country_code)

 could not add ISO 3 code for: http://wwwarchivessearchqldgovau/Search/ItemDetailsaspx?ItemId=769

 could not add ISO 3 code for: USSR

 could not add ISO 3 code for: Yugoslavia

 could not add ISO 3 code for: Czechoslovakia

 could not add ISO 3 code for: Unnamed: 68

 could not add ISO 3 code for: At Sea & Not Stated

 could not add ISO 3 code for: Unnamed: 77

 could not add ISO 3 code for: Micronesia nfd

 could not add ISO 3 code for: St Helena

 could not add ISO 3 code for: Swaziland

 could not add ISO 3 code for: Netherlands Antilles

 could not add ISO 3 code for: South America nfd

 could not add ISO 3 code for: Southeast Asia nfd

 could not add ISO 3 code for: Samoa, Western

 could not add ISO 3 code for: Southern and East Africa nfd

 could not add ISO 3 code for: The Caribbean nfd

 could not add ISO 3 code for: Macau

 could not add ISO 3 code for: Taiwan (Province of China)

 could not add ISO 3 code for: Laos

 could not add ISO 3 code for: China (excluding Taiwan Province)

 could not add ISO 3 code for: Germany, Federal Republic of

 could not add ISO 3 code for: Unnamed: 66

 could not add ISO 3 code for: Cape Verde

 could not add ISO 3 code for: Samoa, American

 could not add ISO 3 code for: Northern America nfd

 could not add ISO 3 code for: Central America nfd

 could not add ISO 3 code for: Gaza Strip

 could not add ISO 3 code for: West Bank

 could not add ISO 3 code for: Former Ethiopia

 could not add ISO 3 code for: Fmr Czechoslovakia

 could not add ISO 3 code for: Faeroe Islands

 could not add ISO 3 code for: Central and West Africa nfd

 could not add ISO 3 code for: Former Yugoslavia

 could not add ISO 3 code for: St Lucia

 could not add ISO 3 code for: North Africa nfd

 could not add ISO 3 code for: Comoros (excluding Mayotte)

 could not add ISO 3 code for: St Kitts-Nevis

 could not add ISO 3 code for: Fmr USSR & the Baltic States

 could not add ISO 3 code for: FYROM (Fmr Yugo Rep Of Macedonia)

 could not add ISO 3 code for: The Former USSR and the Baltic States nfd

 could not add ISO 3 code for: FRY (Fed Rep Of Yugoslavia)

 could not add ISO 3 code for: Bosnia-Herzegovina

 could not add ISO 3 code for: St Vincent and the Grenadines

 could not add ISO 3 code for: East Timor

 could not add ISO 3 code for: Caribbean, nfd

 could not add ISO 3 code for: Central America, nfd

 could not add ISO 3 code for: Southern and East Africa, nfd

 could not add ISO 3 code for: Aust Ext Terr (so stated)

 could not add ISO 3 code for: British West Indies (stated)

 could not add ISO 3 code for: Fed States of Micronesia

 could not add ISO 3 code for: Libyan Arab Jamahiriya

 could not add ISO 3 code for: Refugee

 could not add ISO 3 code for: St Vincent & the Grenadines

 could not add ISO 3 code for: Africa (so stated)

 could not add ISO 3 code for: Cambodia, the Kingdom of

 could not add ISO 3 code for: Central America (so stated)

 could not add ISO 3 code for: Democratic Republic of Congo

 could not add ISO 3 code for: Lao Peoples Democratic Rep

 could not add ISO 3 code for: Southeast Asia (so stated)

 could not add ISO 3 code for: UN Convention Refugee

 could not add ISO 3 code for: Egypt, Arab Republic of

 could not add ISO 3 code for: Macau Spec Admin Rgn

 could not add ISO 3 code for: Stateless

 could not add ISO 3 code for: Germany, Federal Rep Of

 could not add ISO 3 code for: Unknown

 could not add ISO 3 code for: Yugoslavia, Fed Republic of

 could not add ISO 3 code for: Gaza Strip and West Bank

 could not add ISO 3 code for: Congo, Democratic Republic of

 could not add ISO 3 code for: South Africa, Republic of

 could not add ISO 3 code for: Hong Kong ()

 could not add ISO 3 code for: Former Czechoslovakia, nfd

 could not add ISO 3 code for: Macau ()

 could not add ISO 3 code for: Fmr Yugo Rep of Macedonia

 could not add ISO 3 code for: Former Yugoslav Republic of Macedonia

 could not add ISO 3 code for: Former USSR, nfd

 could not add ISO 3 code for: Former Yugoslavia, nfd

 could not add ISO 3 code for: China ()

 could not add ISO 3 code for: Middle East, nfd

 could not add ISO 3 code for: Middle East (so stated)

 could not add ISO 3 code for: Europe (so stated)

 could not add ISO 3 code for: Polynesia (excludes Hawaii), nec

 could not add ISO 3 code for: North Africa, nfd

 could not add ISO 3 code for: Europe, nfd

 could not add ISO 3 code for: Indo-China (so stated)

 could not add ISO 3 code for: North Africa (so stated)

 could not add ISO 3 code for: Palestinian Authority

 could not add ISO 3 code for: Former Serbia and Montenegro

 could not add ISO 3 code for: Micronesia, nfd

 could not add ISO 3 code for: Dem Republic Of Timor-Leste

 could not add ISO 3 code for: East Africa (so stated)

 could not add ISO 3 code for: Virgin Islands, United States

 could not add ISO 3 code for: Central and West Africa, nfd

 could not add ISO 3 code for: South America, nfd

 could not add ISO 3 code for: St Kitts and Nevis

 could not add ISO 3 code for: United Nations Organisation

 could not add ISO 3 code for: Eastern Europe, nfd

 could not add ISO 3 code for: Serbia and Montenegro

 could not add ISO 3 code for: St Pierre and Miquelon

 could not add ISO 3 code for: South-East Asia, nfd

 could not add ISO 3 code for: South America (so stated)

 could not add ISO 3 code for: Sao Tome & Principe

 could not add ISO 3 code for: America, Central (so stated)

 could not add ISO 3 code for: Sth Georgia/Sth Sandwich Is

 could not add ISO 3 code for: Pitcairn Island
{'http://wwwarchivessearchqldgovau/Search/ItemDetailsaspx?ItemId=769': nan, 'Ireland': 'IRL', 'Spain': 'ESP', 'Finland': 'FIN', 'Turkey': 'TUR', 'USSR': nan, 'Norway': 'NOR', 'Japan': 'JPN', 'Sweden': 'SWE', 'Yugoslavia': nan, 'Belgium': 'BEL', 'Syria': 'SYR', 'Denmark': 'DNK', 'Austria': 'AUT', 'Switzerland': 'CHE', 'Czechoslovakia': nan, 'Israel': 'ISR', 'Philippines': 'PHL', 'Cyprus': 'CYP', 'Fiji': 'FJI', 'Netherlands': 'NLD', 'Hong Kong': 'HKG', 'Malta': 'MLT', 'Poland': 'POL', 'Papua New Guinea': 'PNG', 'France': 'FRA', 'South Africa': 'ZAF', 'Canada': 'CAN', 'Egypt': 'EGY', 'Italy': 'ITA', 'Malaysia': 'MYS', 'Indonesia': 'IDN', 'Greece': 'GRC', 'China': 'CHN', 'United States of America': 'USA', 'India': 'IND', 'New Zealand': 'NZL', 'Germany': 'DEU', 'United Kingdom ': 'GBR', 'Unnamed: 68': nan, 'Pakistan': 'PAK', 'Myanmar': 'MMR', 'Lebanon': 'LBN', 'Sri Lanka': 'LKA', 'Ukraine': 'UKR', 'Albania': 'ALB', 'Lithuania': 'LTU', 'Portugal': 'PRT', 'Romania': 'ROU', 'Hungary': 'HUN', 'Singapore': 'SGP', 'Bulgaria': 'BGR', 'Estonia': 'EST', 'Latvia': 'LVA', 'Albania ': 'ALB', 'Thailand': 'THA', 'Bulgaria ': 'BGR', 'Lithuania ': 'LTU', 'Ukraine ': 'UKR', 'Estonia ': 'EST', 'Latvia ': 'LVA', 'At Sea & Not Stated': nan, 'Unnamed: 77': nan, 'Bangladesh ': 'BGD', 'Peru ': 'PER', 'Mauritius ': 'MUS', 'Argentina ': 'ARG', 'Chile ': 'CHL', 'Uruguay ': 'URY', 'French Polynesia': 'PYF', 'Guam': 'GUM', 'Micronesia nfd': nan, 'Monaco': 'MCO', 'Bahrain': 'BHR', 'Saudi Arabia': 'SAU', 'Yemen': 'YEM', 'Angola': 'AGO', 'Congo': 'COG', 'Equatorial Guinea': 'GNQ', 'Ghana': 'GHA', 'Lesotho': 'LSO', 'Madagascar': 'MDG', 'Mozambique': 'MOZ', 'Niger': 'NGA', 'Senegal': 'SEN', 'Sierra Leone': 'SLE', 'Somalia': 'SOM', 'St Helena': nan, 'Swaziland': nan, 'Zaire': 'AGO', 'Afghanistan': 'AFG', 'Maldives': 'MDV', 'Nepal': 'NPL', 'Cuba': 'CUB', 'Dominican Republic': 'DOM', 'El Salvador': 'SLV', 'French Guiana': 'GUF', 'Honduras': 'HND', 'Martinique': 'MTQ', 'Netherlands Antilles': nan, 'Nicaragua': 'NIC', 'Panama': 'PAN', 'Puerto Rico': 'PRI', 'South America nfd': nan, 'Iceland': 'ISL', 'Brunei': 'BRN', 'Southeast Asia nfd': nan, 'Costa Rica': 'CRI', 'Norfolk Island': 'NFK', 'Tunisia': 'TUN', 'Bermuda': 'BMU', 'Barbados': 'BRB', 'Gibraltar': 'GIB', 'Liberia': 'LBR', 'Bahamas': 'BHS', 'Nauru': 'NRU', 'Malawi': 'MWI', 'Guatemala': 'GTM', 'Cook Islands': 'COK', 'Vanuatu': 'VUT', 'Iraq': 'IRQ', 'Ethiopia': 'ETH', 'Kiribati': 'KIR', 'Samoa, Western': nan, 'Nigeria': 'NGA', 'Southern and East Africa nfd': nan, 'The Caribbean nfd': nan, 'Kuwait': 'KWT', 'Libya': 'LBY', 'Bolivia': 'BOL', 'Jamaica': 'JAM', 'Venezuela': 'VEN', 'Sudan': 'SDN', 'Paraguay': 'PRY', 'Guyana': 'GUY', 'Algeria': 'DZA', 'Uganda': 'UGA', 'Suriname': 'SUR', 'Trinidad and Tobago': 'TTO', 'Morocco': 'MAR', 'New Caledonia': 'NCL', 'Mexico': 'MEX', 'Solomon Islands': 'SLB', 'Macau': nan, 'Taiwan (Province of China)': nan, 'Tonga': 'TON', 'Seychelles': 'SYC', 'Tanzania': 'TZA', 'Bangladesh': 'BGD', 'Brazil': 'BRA', 'Zambia': 'ZMB', 'Jordan': 'JOR', 'Ecuador': 'ECU', 'Cocos (Keeling) Is': 'CCK', 'Christmas Island': 'CXR', 'Iran': 'IRN', 'Kenya': 'KEN', 'Korea': 'PRK', 'Colombia': 'COL', 'Zimbabwe': 'ZWE', 'Peru': 'PER', 'Mauritius': 'MUS', 'Cambodia': 'KHM', 'Laos': nan, 'Viet Nam': 'VNM', 'Uruguay': 'URY', 'Argentina': 'ARG', 'China (excluding Taiwan Province)': nan, 'Germany, Federal Republic of': nan, 'Chile': 'CHL', 'United Kingdom': 'GBR', 'Unnamed: 66': nan, 'Luxembourg': 'LUX', 'United Arab Emirates': 'ARE', "Côte d'Ivoire": 'CIV', 'Gambia': 'GMB', 'Mali': 'MLI', 'Reunion': 'REU', 'Qatar': 'QAT', 'Botswana': 'BWA', 'Haiti': 'HTI', 'Cape Verde': nan, 'Oman': 'OMN', 'Cameroon': 'CMR', 'Chad': 'TCD', 'Djibouti': 'DJI', 'Belize': 'BLZ', 'Falkland Islands': 'FLK', 'Guinea': 'GIN', 'Samoa, American': nan, 'Northern America nfd': nan, 'Palau': 'PLW', 'Greenland': 'GRL', 'Liechtenstein': 'LIE', 'Mongolia': 'MNG', 'Guadeloupe': 'FRA', 'Mauritania': 'MRT', 'Burundi': 'BDI', 'Western Sahara': 'ESH', 'Gabon': 'GAB', 'Burkina Faso': 'BFA', 'Guinea-Bissau': 'GNB', 'Rwanda': 'RWA', 'Central America nfd': nan, 'Benin': 'BEN', 'Virgin Islands': 'USA', 'Togo': 'TGO', 'Bhutan': 'BTN', 'Andorra': 'AND', 'Central African Republic': 'CAF', 'Federated States of Micronesia': 'FSM', 'Niue': 'NIU', 'Tokelau': 'TKL', 'Gaza Strip': nan, 'West Bank': nan, 'Namibia': 'NAM', 'Sao Tome and Principe': 'STP', 'Dominica': 'DMA', 'Former Ethiopia': nan, 'Fmr Czechoslovakia': nan, 'Wallis and Futuna': 'WLF', 'Faeroe Islands': nan, 'Russian Federation': 'RUS', 'Central and West Africa nfd': nan, 'Antigua and Barbuda': 'ATG', 'Former Yugoslavia': nan, 'Georgia': 'GEO', 'Kyrgyzstan': 'KGZ', 'Tajikistan': 'TJK', 'Grenada': 'GRD', 'Azerbaijan': 'AZE', 'Kazakhstan': 'KAZ', 'Armenia': 'ARM', 'Uzbekistan': 'UZB', 'Belarus': 'BLR', 'Moldova': 'MDA', 'Tuvalu': 'TUV', 'Czech Republic': 'CZE', 'Slovak Republic': 'SVK', 'Turkmenistan': 'TKM', 'St Lucia': nan, 'Marshall Islands': 'MHL', 'North Africa nfd': nan, 'Comoros (excluding Mayotte)': nan, 'St Kitts-Nevis': nan, 'Fmr USSR & the Baltic States': nan, 'Cayman Islands': 'CYM', 'Montserrat': 'MSR', 'Slovenia': 'SVN', 'Eritrea': 'ERI', 'FYROM (Fmr Yugo Rep Of Macedonia)': nan, 'Croatia': 'HRV', 'The Former USSR and the Baltic States nfd': nan, 'FRY (Fed Rep Of Yugoslavia)': nan, 'Bosnia-Herzegovina': nan, 'Aruba': 'ABW', 'St Vincent and the Grenadines': nan, 'East Timor': nan, "Cote d'Ivoire": 'CIV', 'Micronesia, Federated States of': 'FSM', 'Caribbean, nfd': nan, 'Central America, nfd': nan, 'Comoros': 'COM', 'Réunion': 'REU', 'Southern and East Africa, nfd': nan, 'American Samoa': 'ASM', 'Aust Ext Terr (so stated)': nan, 'British West Indies (stated)': nan, 'Fed States of Micronesia': nan, 'Libyan Arab Jamahiriya': nan, 'Refugee': nan, 'St Vincent & the Grenadines': nan, 'Africa (so stated)': nan, 'Brunei Darussalam': 'BRN', 'Cambodia, the Kingdom of': nan, 'Central America (so stated)': nan, 'Democratic Republic of Congo': nan, 'Lao Peoples Democratic Rep': nan, 'Samoa': 'WSM', 'Southeast Asia (so stated)': nan, 'UN Convention Refugee': nan, 'Egypt, Arab Republic of': nan, 'Macau Spec Admin Rgn': nan, 'Stateless': nan, 'Vietnam': 'VNM', 'Germany, Federal Rep Of': nan, 'Taiwan': 'TWN', 'Unknown': nan, 'Yugoslavia, Fed Republic of': nan, 'Gaza Strip and West Bank': nan, 'Congo, Democratic Republic of': nan, 'South Africa, Republic of': nan, 'Hong Kong ()': nan, 'Slovakia': 'SVK', 'Former Czechoslovakia, nfd': nan, 'Macau ()': nan, 'Fmr Yugo Rep of Macedonia': nan, 'Korea, Republic of': 'KOR', 'Former Yugoslav Republic of Macedonia': nan, 'Former USSR, nfd': nan, 'Bosnia and Herzegovina': 'BIH', 'Former Yugoslavia, nfd': nan, 'China ()': nan, 'Anguilla': 'AIA', 'Middle East, nfd': nan, 'Middle East (so stated)': nan, 'Europe (so stated)': nan, 'Northern Mariana Islands': 'MNP', 'Polynesia (excludes Hawaii), nec': nan, 'North Africa, nfd': nan, 'Europe, nfd': nan, 'Indo-China (so stated)': nan, 'North Africa (so stated)': nan, 'Palestinian Authority': nan, 'Former Serbia and Montenegro': nan, 'Micronesia, nfd': nan, 'Dem Republic Of Timor-Leste': nan, 'East Africa (so stated)': nan, 'Virgin Islands, United States': nan, 'Central and West Africa, nfd': nan, 'San Marino': 'SMR', 'Turks and Caicos Islands': 'TCA', 'South America, nfd': nan, 'St Kitts and Nevis': nan, 'Virgin Islands, British ': 'VGB', 'United Nations Organisation': nan, 'Mayotte': 'FRA', 'Faroe Islands': 'FRO', 'Eastern Europe, nfd': nan, 'Serbia and Montenegro': nan, 'Vatican City': 'VAT', 'St Pierre and Miquelon': nan, 'South-East Asia, nfd': nan, 'British Indian Ocean Terr': 'IOT', 'South America (so stated)': nan, 'Montenegro': 'MNE', 'Serbia': 'SRB', 'Sao Tomé and Principe': 'STP', 'Sao Tome & Principe': nan, 'America, Central (so stated)': nan, 'Kosovo': 'SRB', 'South Sudan': 'SSD', 'Sth Georgia/Sth Sandwich Is': nan, 'Pitcairn Island': nan}

In [69]:
for k, v in d_country_code.items():
    stores_df.loc[(stores_df.country == k), 'iso_alpha'] = v

stores_df.dropna(subset=['iso_alpha' ], inplace=True) 

stores_df

                  country  year  migration_no iso_alpha
0                 Ireland  1864           121       IRL
1                 Ireland  1865            82       IRL
2                 Ireland  1866            49       IRL
3                 Ireland  1867            25       IRL
4                 Ireland  1868             5       IRL
...                   ...   ...           ...       ...
47693            Colombia  2016           438       COL
26867  Russian Federation  2016           461       RUS
46981              Brazil  2016           574       BRA
2659               France  2016           672       FRA
8889             Pakistan  2016          1221       PAK

[8105 rows x 4 columns]

In [70]:
stores_df.to_csv("./datasets/cleaned-migration.csv", index = False)